<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BouncyCastle" version="1.8.1" targetFramework="net40" />
  <package id="EasyHttp" version="1.6.86.0" targetFramework="net40" />
  <package id="JsonFx" version="2.0.1209.2802" targetFramework="net452" />
  <package id="log4net" version="2.0.5" targetFramework="net40" />
  <package id="Mono.Options" version="4.4.0.0" targetFramework="net40" />
  <package id="MsgPack.Cli" version="0.6.8" targetFramework="net40" />
  <package id="Newtonsoft.Json" version="8.0.3" targetFramework="net40" />
  <package id="WebSocketSharp" version="1.0.3-rc10" targetFramework="net4" />
</packages>